
:root {
    /* Colors */
    --white: #FFF;
    --black: #000;
    --navy200: #BBC0FF;
    --navy800: #33397A;
    --navy900: #1C204B;
    --navy950: #0E1323;
    --orange300: #FF8B64;
    --purple500: #7078C9;
    --purple600: #5747EA;
    --purple700: #7335D2;
    --blue300: #55C2E6;
    --pink400: #FF5E7D;
    --green400: #4BCF82;
    --yellow300: #F1C75B;
    --grey200: #D8D8D8;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: Rubik, Arial, Helvetica, sans-serif;
    background-color: var(--navy950);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typographies */
.tp1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 66px;
    letter-spacing: 0px;
}

.tp2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: 0px;
}

.tp3 {
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0px;
}

.tp4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;
}

.tp5--medium {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
}

.tp5--regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
}

.tp6 {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
}

/* Shared components */
/** Card */
.card {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;

    background-repeat: no-repeat;
    background-position: right 17.5px top -11px;
}

.card__info {
    margin-top: 38px;
    padding: 27.5px 24px;

    background-color: var(--navy900);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__info__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__info__top__ellipsis {
    height: fit-content;
}

.card__info__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 16px;
}

.card__info_bottom__lastTime {
    color: var(--navy200);
}