@import 'global.css';

.container {
    margin: 81px 24px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* User */
.user {
    background-color: var(--navy900);
    border-radius: 15px;
}

.user__info {
    padding: 32px 18px 37px 32px;

    background-color: var(--purple600);
    border-radius: 15px;

    display: flex;
    gap: 24px;
}

.user__info__image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: solid white 3px;
}

.user__info__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user__info__details__label {
    color: var(--grey200);
}

.user__options {
    padding: 24px 0px;

    color: var(--purple500);

    display: flex;
}

.user__options__item {
    flex: 1 1 0;
    text-align: center;
}

/* Cards */
.card {
    background-color: var(--orange300);

    border-radius: 15px;

    background-image: url('../images/icon-work.svg');
    background-repeat: no-repeat;
    background-position: right 17.5px top -11px;
}

.card__info {
    margin-top: 38px;
    padding: 27.5px 24px;

    background-color: var(--navy900);
    border-radius: 15px;
}