@import 'global.css';

.container {
    margin: 81px 24px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* User */
.user {
    background-color: var(--navy900);
    border-radius: 15px;
}

.user__info {
    padding: 32px 18px 37px 32px;

    background-color: var(--purple600);
    border-radius: 15px;

    display: flex;
    gap: 24px;
}

.user__info__image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: solid white 3px;
}

.user__info__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user__info__details__label {
    color: var(--grey200);
}

.user__options {
    padding: 24px 0px;

    color: var(--purple500);

    display: flex;
}

.user__options__item {
    flex: 1 1 0;
    text-align: center;
}

/* Cards */
.card--work {
    background-image: url('../images/icon-work.svg');
    background-color: var(--orange300);
}

.card--play {
    background-image: url('../images/icon-play.svg');
    background-color: var(--blue300);
}

.card--study {
    background-image: url('../images/icon-study.svg');
    background-color: var(--pink400);
}

.card--exercise {
    background-image: url('../images/icon-exercise.svg');
    background-color: var(--green400);

    background-position: right 17.5px top -3px;
}

.card--social {
    background-image: url('../images/icon-social.svg');
    background-color: var(--purple700);
}

.card--selfcare {
    background-image: url('../images/icon-self-care.svg');
    background-color: var(--yellow300);
}

.container {
        animation: 1s ease-out 0s 1 slideIn;
    }

    @keyframes slideIn {
        0% {
            transform: translateX(-45%);
            opacity: 0;
        }
        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }