@import 'mobile.css';

@media (min-width: 735px) {
    .container {
        margin: 78px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } 

    /* User section */
    .user {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .user__details {
        padding: 34.5px 32px;
    }

    .user__options {
        justify-content: center;
        gap: 8px;
    }

    .user__options__item {
        max-width: 110px;
    }

    /* Cards */
    .card__info {
        padding: 25.5px 21.5px;
        gap: 16px;
        
    }

    .card__info__bottom {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .card__info_bottom__time {
        font-size: 56px;
        font-weight: 300;
        line-height: 66px;
        letter-spacing: 0px;
    }

    .user__options__item:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .card__info__top__ellipsis:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}